---
const pageTitle = "About";

const identity = {
    firstName: "Lilia",
    country: "United States",
    hobbies: ["coding", "drawing", "singing"],
};
const skills = ["HTML", "CSS", "JavaScript", "React", "Astro", "Art"]

const skillColor = "navy";
const fontWeight = "bold";
const textCase = "uppercase";
import '../styles/global.css';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout pageTitle={pageTitle}>
    <style is:global define:vars={{ skillColor, fontWeight, textCase }}>
        h1 {
            color: purple;
            font-size: 4rem;
        }
        .skill {
            color: var(--skillColor);
            font-weight: var(--fontWeight);
            /* text-transform: var(--textCase); */
        }
    </style>
    <p>The Crocheted Creature is a crochet business started by Lilia in 2025</p>

    <h2>About the Owner</h2>
    <p>Here are a few facts about me:</p>
    <ul>
        <li>My name is {identity.firstName}.</li>
        <li>I live in {identity.country}.</li>
        {identity.hobbies.length >= 2 &&
             <li>Two of my hobbies are: {identity.hobbies[0]} and {identity.hobbies[1]}</li>
        }
    </ul>
    <p>My skills are:</p>
    <ul>
        {skills.map((skill) => <li class="skill">{skill}</li>)}
    </ul>
